{% extends "encyclopedia/layout.html" %}


{% block title %}
    {{ title }}
{% endblock %}
{% block body %}
    Edit Page
    <form action= "{% url 'edit' result %}" method="post">
        {% csrf_token %}

        {%if title in files or not title%}
        <div>
            <style>
                .error:hover
                {
                    cursor: pointer;
                }
            </style>
            <p class = "text"> Title Name Already exists click the x to dismiss or you havent put a title for this entry </p>
            <span class = "error" aria-hidden="true">&times;</span>
            <script>
                const error = document.querySelector('.error');
                const text = document.querySelector('.text');
                error.addEventListener('click', function()
                {
                    error.remove();
                    text.remove();
                });
            </script>

        </div>
        {%endif%}
        <div>
            <input type="hidden" name="prev-title" value = "{{result}}" >
            <textarea  class = "form-control" placeholder = "Title" name="input-title" data-provide="markdown" style = "width: 50%; height: 60px;" cols="10" rows="1" maxlength="15">{{ title }}</textarea>
        </div>
        <div>
            <textarea  placeholder = "## Use Markdown For Your Content" class = "form-control"name="input-content"id="content"data-provide="markdown"style="width:70%;height: 50%;" cols="30"rows="15">{{content.strip|safe}}</textarea>
        </div>

        <div>
            <input type="submit" value="Save">
        </div>
    </form>
{% endblock %}