
{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <title> Search Results </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'encyclopedia/styles.css' %}" rel="stylesheet">
    </head>
</html>
<body>
    <h1> Related results: </h1>
    <ul>
        {% for i in file %}
        <li><button class = "btn btn-outline-secondary"><a href="{% url 'entrys' i %}">{{ i }}</a></li></button>
        {% endfor%}
    </ul>
 
</body>

